    
    <div class="container" style="margin-top:100px">

        <div class="panel panel-default">
        <div class="panel-heading">友情链接</div>
        <div class="panel-body">
            <a href="#">友情链接1</a>
            <a href="#">友情链接2</a>
            <a href="#">友情链接3</a>
            <a href="#">友情链接4</a>
            <a href="#">友情链接5</a>
            <a href="#">友情链接6</a>
        </div>
        </div>
    </div>

  </body>
</html>